


  <!--  -->
  <main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
              <!--  -->
              <div class="content">

                <div class="er-nu">4</div>
                <div class="rnd">
            
                  <div class="eyes">
            
                    <div class="ey"></div>
                    <div class="ey"></div>
                    <div class="muth"></div>
                  </div>
            
                </div>
                <div class="er-nu">4</div>
            
                <div class="ermsg">The page could not be found</div>
              </div>
                <!--  -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
   